body {
    background-color: ;
}

#Logo {
    float: left;
    width: 1000px;
    height: 220px;
    margin-left: 140px;
    background-color: #540300;
}

#Logoimg {
    float: left;
    width: 980px;
    height: 200px;
    margin: 10px;
}

#Container {
    background-color: #540300;
    float: left;
    width: 1000px;
    height: 1400px;
    margin-left: 140px;
    margin-top: 10px;

}

#MenuBar {
    height: 80px;
    width: 1000px;
    background-color: black;
    position: absolute;
    z-index: 100;
}

#MenuBar.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
}

.Button {
    height: 40px;
    width: 150px;
    background-color: #540300;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#Button1 {
    margin-left: 25px;
}

a:link{color:ghostwhite;}

a:visited{color:ghostwhite;}

a {
    text-decoration: none;
}

.Button:hover {
    background-color: gray;
    color: ghostwhite;
}