body {
    background-color: gainsboro;
}

#Logo {
    float: left;
    width: 1000px;
    height: 220px;
    margin-left: 140px;
    background-color: #053454;
}

#Logoimg {
    float: left;
    width: 980px;
    height: 200px;
    margin: 10px;
}

#Container {
    background-color: #053454;
    float: left;
    width: 1000px;
    height: 1800px;
    margin-left: 140px;
    margin-top: 10px;
}

#Container1 {
    background-color: #053454;
    float: left;
    width: 1000px;
    height: 850px;
    margin-left: 140px;
    margin-top: 10px;
}

#Container2 {
    background-color: #053454;
    float: left;
    width: 1000px;
    height: 1530px;
    margin-left: 140px;
    margin-top: 10px;
}

#MenuBar {
    height: 80px;
    width: 1000px;
    background-color: black;
    position: absolute;
    z-index: 100;
}

#MenuBar.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
}

.Button {
    height: 40px;
    width: 150px;
    background-color: #053454;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#Button1 {
    margin-left: 25px;
}

a:link{color:ghostwhite;}

a:visited{color:ghostwhite;}

a {
    text-decoration: none;
}

.Button:hover {
    background-color: #37729B;
    color: ghostwhite;
}

#nyhetimg1 {
    float: right;
    width: 520px;
    height: 350px;
    background-color: #075387;
    margin-right: 20px;
    margin-top: 100px;
}

#nyhetsimg1fix {
    float: left;
    width: 500px;
    height: 330px;
    margin: 10px;
}

#nyhet1content1 {
    float: left;
    width: 420px;
    height: 800px;
    background-color: #075387;
    margin-left: 20px;
    margin-top: 100px;
    text-align: center;
    color: ghostwhite;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

#nyhet1content2 {
    float: right;
    width: 520px;
    height: 430px;
    background-color: #075387;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    color: ghostwhite;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

#nyhet1end {
    float: left;
    width: 760px;
    height: 5px;
    background-color: gainsboro;
    margin-left: 120px;
    margin-top: 20px;
}

#nyhet2content1 {
    float: left;
    width: 420px;
    height: 800px;
    background-color: #075387;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    color: ghostwhite;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;

}

#nyhetimg2 {
    float: right;
    width: 520px;
    height: 350px;
    background-color: #075387;
    margin-right: 20px;
    margin-top: 20px;
}

#nyhetsimg2fix {
    float: left;
    width: 500px;
    height: 330px;
    margin: 10px;
}

#nyhet2content2 {
    float: right;
    width: 520px;
    height: 430px;
    background-color: #075387;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    color: ghostwhite;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

#schema_header {
    float: left;
    width: 900px;
    height: 50px;
    background-color: #075387;
    margin-top: 100px;
    margin-left: 50px;
    text-align: center;
    color: ghostwhite;
    padding-bottom: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#schema_pic {
    float: left;
    width: 980px;
    height: 500px;
    background-color: #075387;
    margin-left: 10px;
    margin-top: 20px;
}

#schema_pic_fix {
    float: left;
    width: 960px;
    height: 480px;
    margin-left: 10px;
    margin-top: 10px;
}

#schema_end {
    float: left;
    width: 900px;
    height: 100px;
    background-color: #075387;
    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
    color: ghostwhite;
    padding-bottom: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#program_header {
    float: left;
    width: 900px;
    height: 100px;
    background-color: #075387;
    margin-top: 100px;
    margin-left: 50px;
    text-align: center;
    color: ghostwhite;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#program1 {
    float: left;
    width: 900px;
    height: 300px;
    background-color: #075387;
    margin-left: 50px;
    margin-top: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: ghostwhite;
}

#programcontent1 {
    float: left;
    width: 540px;
    height: 300px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: ghostwhite;
    text-align: center;
}

#programpic1 {
    float: right;
    width: 340px;
    height: 300px;
    background-color: aqua;
}

#program2 {
    float: left;
    width: 900px;
    height: 300px;
    background-color: #075387;
    margin-left: 50px;
    margin-top: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: ghostwhite;
}

#programcontent2 {
    float: left;
    width: 540px;
    height: 300px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: ghostwhite;
    text-align: center;
}

#programpic2 {
    float: right;
    width: 340px;
    height: 300px;
    background-color: aqua;
}

#program3 {
    float: left;
    width: 900px;
    height: 300px;
    background-color: #075387;
    margin-left: 50px;
    margin-top: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: ghostwhite;
}

#programcontent3 {
    float: left;
    width: 540px;
    height: 300px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: ghostwhite;
    text-align: center;
}

#programpic3 {
    float: right;
    width: 340px;
    height: 300px;
    background-color: aqua;
}

#program4 {
    float: left;
    width: 900px;
    height: 300px;
    background-color: #075387;
    margin-left: 50px;
    margin-top: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: ghostwhite;
}

#programcontent4 {
    float: left;
    width: 540px;
    height: 300px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: ghostwhite;
    text-align: center;
}

#programpic4 {
    float: right;
    width: 340px;
    height: 300px;
    background-color: aqua;
}

#skolanpic1 {
    float: right;
    width: 520px;
    height: 687px;
    background-color: #075387;
    margin-top: 100px;
    margin-right: 20px;
}

#skolanpic1fix {
    float: right;
    width: 500px;
    height: 667px;;
    margin-top: 10px;
    margin-right: 10px;
}

#skolancontent1 {
    float: left;
    width: 420px;
    height: 1000px;
    margin-left: 20px;
    margin-top: 100px;
    background-color: #075387;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: ghostwhite;
    text-align: center;
}

#skolancontent2 {
    float: right;
    width: 520px;
    height: 293px;
    background-color: #075387;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: ghostwhite;
}